<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app uses the microphone to test audio connectivity.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Used to verify location services for connection test.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Used to verify location services for connection test.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
</dict>
</plist>
